*{
	margin: 0;
	padding: 0;
	outline: none;
	list-style: none;
}

body{
	font: 300 16px Oswald;

}
.menssage2{
	width: 100%;
	padding-top: 7px;
font: 400 18px Oswald;
	color: #fff;
	height: 40px;
	background: #4B528D;
	margin: 0 auto;
	text-align: center;
}
#cadastrar{
color: #999;
padding-top: 5px;
display: block;
font: 400 18px  Oswald;
border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-bottom-left-radius: 8px;
	-moz-border-bottom-right-radius: 8px;
	height: 40px;
	width: 120px;
	background: #f1f1f1;
	text-align: center;
	text-decoration: none;
	position: absolute;
	right: 10px;
	top: 47px;
}
#cadastrar a{
color: #999;
padding-top: 5px;
display: block;
font: 400 22px  Oswald;
}
#cadastrar:hover{
	background: #DA4A4E;
	color: #fff;
font: 400 18px  Oswald;
background: #DA4A4E;
}
a{
	text-decoration: none;
}
#cadastrar a{
border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-bottom-left-radius: 8px;
	-moz-border-bottom-right-radius: 8px;
color: #999;
padding-top: 5px;
display: block;
height:36px;
font: 400 18px  Oswald;
}
#cadastrar a:hover{
color:#fff;
}
#login{
	width: 300px;
	margin: 0 auto;
	position: relative;
	top: 100px;
	border: 1px solid #CCC;
	padding-top: 25px;
	padding-bottom: 15px;
	padding-left: 400px;
	padding-right: 25px;
	opacity: 20%;
}
.acomodar{
	margin: 0 auto;
	width: 300px;

}
#login label{
	display: block;
	padding-top: 10px;
}
input{
border:none;
}
input:hover{
border:none;
font-weight: bold;
}

.logo{
width: 200px;
height: 200px;
margin:0 auto;
padding; 7px;
}

.txt{
	border: none;
	height: 40px;
	width: 250px;
}
.sb{
	display: block;
	border: none;
	width: 250PX;
text-align: center;
	text-decoration: none;
	height: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
	cursor: pointer;
	font: 400 18px Oswald;
	color: #999;
}
.sb:hover{
background: #3F51B5;
color: #fff;
}
.sA:hover{
background: #4682B4;
color: #fff;
}
.sR:hover{
background: #FF6347;
color: #fff;
}
.sA{
	display: block;
	border: none;
	width: 250PX;
	height: 40px;
	margin-bottom: 20px;
	cursor: pointer;
	font: 400 18px Oswald;
padding-top: 10px;
	color: #4682B4;
background: #f1f1f1;
	text-align: center;
	text-decoration: none;
}
.sR{
	display: block;
	border: none;
	width: 250PX;
	height: 40px;
	margin-top: 40px;
	margin-bottom: 20px;
padding-top: 10px;
	cursor: pointer;
	font: 400 18px Oswald;
	color: #FF6347;
background: #f1f1f1;
	text-align: center;
	text-decoration: none;
}

.bradius{
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}
.fleft{
	float: left;
}
.fright{
	float: right;
}
.txt,.txt:focus,.sb,sb:hover,#cadastrar,#cadastrar a,input,input:hover,.sA,sA:hover,.sR,sR:hover{
transition: all 1s linear;
-webkit-transition: all 1s linear;
-moz-transition: all 1s linear;
}